{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block userlinks %}{{ block.super }}
 	| <a href="{% url simpleadmindoc-index %}" 
				onclick="var win = window.open('{% url simpleadmindoc-index %}?_popup=1', 'simpleadmindoc', 
				'height=500,width=800,resizable=yes,scrollbars=yes'); win.focus(); return(false);">{% trans "Help" %}</a>
{% endblock %}
